:root {
  --bs-primary: #88498F;
  --bs-secondary: #779FA1;
}

.bg-primary, .btn-primary {
  background-color: var(--bs-primary) !important;
}

.bg-secondary, .btn-secondary {
  background-color: var(--bs-secondary) !important;
}

a.text-primary {
  color: var(--bs-primary) !important;
}

.text-muted {
  color: rgba(33, 41, 41, 0.5) !important;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.w-200px {
  width: 120px !important;
}